Repository RediSearch/RediSearch, pull requests merged in 2020-09, with the labels that each got.

#1499 Temp docs
  docs/Aggregations.md
  docs/Commands.md
  src/pytest/test.py
  src/pytest/test_aggregate.py
  src/pytest/test_followhashes.py
Labels: docs

#1512 synupdate scans keyspace unless SKIPINITIALSCAN
  docs/Commands.md
  src/module.c
  src/pytest/test_synonyms.py
  src/spec.c
  src/spec.h
Labels: enhancement

#1522 Fix stats report (#1517)
  src/fork_gc.c
  src/inverted_index.c
  src/inverted_index.h
  src/pytest/test_stats.py
Labels: bug

#1524 limit table of content depth to:2 in mkdocs - WIP
  mkdocs.yml
Labels: docs

#1526 Break down commands documentation into subsections
  docs/Commands.md
  mkdocs.yml
Labels: docs

#1546 #1526 for 2.0 brnch
  docs/Commands.md
  mkdocs.yml
Labels: docs

#1572 See RED-47209, fix crash when using WITHSORTKEYS without SORTBY
  src/aggregate/aggregate_exec.c
  src/pytest/test.py
  srcutil/code_style.py
Labels: bug

#1576 example for synonyms docs
  docs/Synonyms.md
Labels: docs

#1596 remove tags in keyspace from docs
  docs/Overview.md
  docs/Tags.md
Labels: docs
