Repository RediSearch/RediSearch, pull requests merged in 2020-12, with the labels that each got.

#1686 [BUG] Fix timeout PR for RS coordinator
  src/aggregate/aggregate_exec.c
  tests/pytests/test.py
  tests/pytests/test_numbers.py
Labels: bug

#1628 save low docID in mmh instead of high
  src/result_processor.c
  tests/benchmark/bm_text.py
  tests/pytests/test.py
  tests/pytests/test_cn.py
  tests/pytests/test_followhashes.py
  tests/pytests/test_fuzzy.py
  tests/pytests/test_geo.py
  tests/pytests/test_scorers.py
  tests/pytests/test_synonyms.py
Labels: enhancement, performance

#1690 Add stars to clients
  README.md
Labels: docs

#1691 Add stars to clients (#1687)
  docs/Clients.md
Labels: docs

#1700 Use global empty list + tests
  src/stopwords.c
  src/stopwords.h
  tests/pytests/common.py
  tests/pytests/test.py
Labels: coverage, tests

#1702 fix tests for rscoordinator
  tests/pytests/test_cn.py
  tests/pytests/test_fuzzy.py
  tests/pytests/test_scorers.py
Labels: tests

#1710 add testMaxAggResults for MAXAGGREGATERESULTS
  tests/pytests/test_aggregate.py
Labels: tests

#1744 fix docs for MAXAGGREGATERESULTS to unlimited
  docs/Configuring.md
Labels: docs

#1757 Replace assert on limit of sortable fields
  src/sortable.c
  src/spec.c
  tests/pytests/test_issues.py
Labels: bug

#1754 return error for ft.alter w/o schema
  src/module.c
  tests/pytests/test.py
Labels: bug
