Repository RediSearch/RediSearch, pull requests merged in 2021-05, with the labels that each got.

#2010 Sync some diff between master and 2.0 (doc)
  docs/Configuring.md
  docs/payloads.md
Labels: x:docs

#2009 Remove FT.PROFILE doc from 2.0
  docs/Commands.md
Labels: x:docs

#2018 [1.6] Add REPLACE_DELETE_HASH_FIELD param
  src/config.c
  src/config.h
  src/document_add.c
  src/document_basic.c
  src/pytest/test_issues.py
Labels: 1.6 only

#1918 Keep stemmer if same language
  src/stemmer.c
Labels: c:bug
