Repository RediSearch/RediSearch, pull requests merged in 2022-05, with the labels that each got.

#2751 Fix docs on FT.CONFIG and mention DEFAULT_DIALECT configuration
  commands.json
  docs/commands/ft.config-set.md
  docs/docs/Configuring.md
Labels: x:docs

#2746 Doc updates around DIALECT
  docs/commands/ft.aggregate.md
  docs/commands/ft.explain.md
  docs/commands/ft.explaincli.md
  docs/commands/ft.search.md
  docs/commands/ft.spellcheck.md
  docs/docs/reference/Vectors.md
Labels: x:docs

#2785 [2.4] Init all vars in EvalCtx (#2780)
  src/aggregate/expr/expression.c
Labels: pr:cherrypick

#2434 [PERF] Reduce use of cardinality
  src/fork_gc.c
  src/inverted_index.c
  src/numeric_index.c
  src/numeric_index.h
  tests/cpptests/test_cpp_range.cpp
  tests/pytests/test.py
  tests/pytests/test_gc.py
  tests/pytests/test_geo.py
  tests/pytests/test_numbers.py
  tests/pytests/test_profile.py
Labels: x:perf

#2791 Add BlockedClientMeasureTime to coordinator
  coord/src/module.c
  coord/src/rmr/rmr.c
  deps/rmutil/rm_assert.h
  src/concurrent_ctx.c
  tests/pytests/test_coordinator.py
Labels: x:perf

#2777 [TEST] emoji test
  tests/pytests/test.py
Labels: x:tests
