Repository RediSearch/RediSearch, pull requests merged in 2023-03, with the labels that each got.

#3430 Min-Max heap performance improvement
  src/util/minmax_heap.c
  tests/benchmarks/search-ftsb-10K-enwiki_abstract-hashes-fulltext-sortby.yml
Labels: action:run-benchmark

#3461 FT.AGGREGATE: Fix index argument name and description
  docs/commands/ft.aggregate.md
Labels: x:docs

#3463 FT.AGGREGATE: Add link to supported reducers
  docs/commands/ft.aggregate.md
Labels: x:docs

#3445 FT.CREATE: Add missing argument to TEMPORARY
  docs/commands/ft.create.md
Labels: x:docs

#3460 Updating client library list
  docs/docs/Clients.md
Labels: x:docs

#3417 Add link of cursor api details directly in CURSOR READ command doc
  docs/commands/ft.cursor-read.md
Labels: x:docs

#3146 Added explanation for search command ACLs in RedisSearch quick start documentation
  docs/docs/Quick_Start.md
Labels: x:docs

#3252 [DOC] Use "Inner Product" instead
  docs/docs/reference/Vectors.md
Labels: x:docs

#3479 Enabled 2, 24 and 32 primaries benchmarks on on-integ-and-version-tags
  .circleci/config.yml
  tests/benchmarks/search-ftsb-10K-enwiki_abstract-hashes-fulltext-sortby.yml
  tests/benchmarks/search-ftsb-10K-enwiki_abstract-hashes-term-prefix.yml
  tests/benchmarks/search-ftsb-10K-enwiki_abstract-hashes-term-wildcard.yml
  tests/benchmarks/search-ftsb-10K-enwiki_abstract-hashes-term-withoutsuffix-trie.yml
  tests/benchmarks/search-ftsb-10K-enwiki_abstract-hashes-term-withsuffix-trie.yml
  tests/benchmarks/search-ftsb-10K-enwiki_pages-hashes-fulltext-mixed_simple-1word-query_write_1_to_read_20.yml
  tests/benchmarks/search-ftsb-10K-enwiki_pages-hashes-load.yml
  tests/benchmarks/search-ftsb-10K-multivalue-numeric-json.yml
  tests/benchmarks/search-ftsb-10K-singlevalue-numeric-json.yml
  tests/benchmarks/search-ftsb-1K-enwiki_abstract-hashes-term-contains.yml
  tests/benchmarks/search-ftsb-1K-enwiki_abstract-hashes-term-suffix-withsuffixtrie.yml
  tests/benchmarks/search-ftsb-1K-enwiki_abstract-hashes-term-suffix.yml
  tests/benchmarks/search-ftsb-1M-enwiki_abstract-hashes-fulltext-2word-intersection-query-non-sortable.yml
  tests/benchmarks/search-ftsb-1M-enwiki_abstract-hashes-fulltext-2word-intersection-query-non-sortable@50_ops_sec.yml
  tests/benchmarks/search-ftsb-1M-enwiki_abstract-hashes-fulltext-2word-intersection-query.yml
  tests/benchmarks/search-ftsb-1M-enwiki_abstract-hashes-fulltext-2word-intersection-query@100_ops_sec.yml
  tests/benchmarks/search-ftsb-1M-enwiki_abstract-hashes-fulltext-2word-union-query-non-sortable.yml
  tests/benchmarks/search-ftsb-1M-enwiki_abstract-hashes-fulltext-2word-union-query-non-sortable@100_ops_sec.yml
  tests/benchmarks/search-ftsb-1M-enwiki_abstract-hashes-fulltext-2word-union-query.yml
  tests/benchmarks/search-ftsb-1M-enwiki_abstract-hashes-fulltext-2word-union-query@100_ops_sec.yml
  tests/benchmarks/search-ftsb-1M-enwiki_abstract-hashes-fulltext-simple-1word-query-non-sortable.yml
  tests/benchmarks/search-ftsb-1M-enwiki_abstract-hashes-fulltext-simple-1word-query.yml
  tests/benchmarks/search-ftsb-1M-enwiki_abstract-hashes-fulltext-simple-1word-query@100_ops_sec.yml
  tests/benchmarks/search-ftsb-1M-enwiki_abstract-hashes-load.yml
  tests/benchmarks/search-ftsb-1M-nyc_taxis-ftadd-load.yml
  tests/benchmarks/search-ftsb-1M-nyc_taxis-hashes-load.yml
  tests/benchmarks/search-geo.yml
  tests/benchmarks/search-numeric-sortby-desc.yml
  tests/benchmarks/search-numeric-sortby.yml
  tests/benchmarks/search-numeric.yml
Labels: action:run-benchmark

#3499 [FIX] `FT.SEARCH` crashes when `MAXSEARCHRESULTS` is 0 - MOD-5062
  src/aggregate/aggregate_request.c
  tests/pytests/test_issues.py
Labels: c:bug
