Repository RediSearch/RediSearch, pull requests merged in 2023-01, with the labels that each got.

#3291 [DOC] Updates query syntax
  docs/commands/ft.search.md
  docs/docs/Configuring.md
  docs/docs/reference/Aggregations.md
  docs/docs/reference/Query_Syntax.md
Labels: x:docs

#3323 Enabled Pull Request CI Performance info generation and publishing
  .circleci/config.yml
  tests/benchmarks/defaults.yml
Labels: action:run-benchmark

#3334 Fixed default workflow being canceled when PR has benchmark label
  .github/workflows/trigger-benchmark.yml
Labels: skip-changelog, action:run-benchmark
