Repository RediSearch/RediSearch, pull requests merged in 2023-02, with the labels that each got.

#3387 Fix doc on SORTABLE and UNF
  docs/commands/ft.aggregate.md
  docs/commands/ft.create.md
  docs/docs/design/overview.md
  docs/docs/reference/Sorting.md
Labels: x:docs

#3393 typo fixes
  docs/docs/Indexing_JSON.md
Labels: x:docs

#3389 Mempool refactor - remove locks and use a mempool per thread - [MOD-4690]
  src/offset_vector.c
  src/util/mempool.c
Labels: action:run-benchmark

#3395 Replace retaining argv with copying it in coordinator's `FT.SEARCH` - MOD-4834
  coord/src/module.c
Labels: c:bug
